<h2>Order Details</h2>

<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search by username"
          [(ngModel)]="username"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchUsername()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Orders List</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let laundry of laundrys; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveLaundry(laundry, i)"
        >
          {{ laundry.username }}
        </li>
      </ul>
      <button class="m-3 btn btn-sm btn-outline-danger" (click)="removeAllLaundrys()">
        Remove All
      </button>
    </div>
    <div class="col-md-6">
      <div *ngIf="currentLaundry.id">
        <h4>Order</h4>
        <div>
          <label><strong>username:</strong></label> {{ currentLaundry.username }}
        </div>
        <div>
          <label><strong>clothType:</strong></label>
          {{ currentLaundry.clothType }}
        </div>
        <div>
          <label><strong>clothFabric:</strong></label>
          {{ currentLaundry.clothFabric }}
        </div>
        <div>
          <label><strong>clothColor:</strong></label>
          {{ currentLaundry.clothColor }}
        </div>
        <div>
          <label><strong>Status:</strong></label>
          {{ currentLaundry.washed ? "Washing" : "Pending" }}
        </div>
        <button class="btn btn-outline-warning" routerLink="/laundrys/{{ currentLaundry.id }}">
          Edit
        </button>
      </div>
      <div *ngIf="!currentLaundry">
        <br />
        <p>Please click on an Order</p>
      </div>
    </div>
  </div>