<h2>Welcome to the Admin Dashboard</h2>
<br>
<section class="d-flex gap-2 col-6 mx-auto" id="align">
  <!-- view orders -->
  <!-- <button type="button" class="btn btn-outline-dark" >View orders</button> -->

  <!-- create/update/delete/search CRUD -->
  <!-- <button type="button" class="btn btn-outline-success" >Create order</button>
  <button type="button" class="btn btn-outline-warning" >Edit order</button>
  <button type="button" class="btn btn-outline-danger" >Delete order</button>
  <button type="button" class="btn btn-outline-info" >Search order</button> -->
</section>

<section class="d-flex gap-2 col-6 mx-auto" id="align">
  <button type="button" class="btn btn-outline-dark" routerLink="add">Create orders</button>
  <button type="button" class="btn btn-outline-success" routerLink="laundrys">Search order</button>
</section>
